@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
}

.wrapper {
  position: relative;
  max-width: 400px; /* Ukuran lebih kecil */
  width: 100%;
  border-radius: 12px;
  padding: 20px 20px 60px; /* Padding lebih kecil */
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form.login {
  position: absolute;
  left: 50%;
  bottom: -86%;
  transform: translateX(-50%);
  width: calc(100% + 120px); /* Ukuran lebih kecil */
  padding: 20px 80px; /* Padding lebih kecil */
  border-radius: 50%;
  height: 100%;
  background: #fff;
  transition: all 0.6s ease;
}

.wrapper.active .form.login {
  bottom: -15%;
  border-radius: 35%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form header {
  font-size: 24px; /* Font lebih kecil */
  text-align: center;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
}

.form.login header {
  color: #333;
  opacity: 0.6;
}

.wrapper.active .form.login header {
  opacity: 1;
}
.wrapper.active .form.signup header {
  opacity: 0.6;
}
.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Jarak antar elemen lebih kecil */
  margin-top: 40px; /* Margin atas lebih kecil */
}

form input {
  height: 50px; /* Tinggi input lebih kecil */
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 14px; /* Font lebih kecil */
  font-weight: 400;
  color: #333;
  border-radius: 20px;
  background: #fff;
}

.form.login input {
  border: 1px solid #aaa;
}

.form.login input:focus {
  box-shadow: 0 1px 0 #ddd;
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: #fff;
  cursor: pointer;
}

form .checkbox label {
  cursor: pointer;
  color: #fff;
}

form a {
  color: #333;
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  margin-top: 15px;
  padding: none;
  font-size: 16px; /* Font lebih kecil */
  font-weight: 500;
  cursor: pointer;
}

.form.login input[type="submit"] {
  background: #4070f4;
  color: #fff;
  border: none;
}
